:root {
  --currentColor: #b90470;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: poppins;
}

.container {
  max-width: calc(1440px - 160px);
  width: 100%;
  margin: 0px auto;
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 98%;
  }
}
